!!! 5
html(lang="en")
	head
		title We Browse In Public
		meta(name="description", content="Stream your browsing anonymously to start chats.")
		link(rel="stylesheet", type="text/css", href="/css/all.css")
		script(type="text/javascript", src="/js/jquery.js")
		script(type="text/javascript", src="/js/underscore.js")
		script(type="text/javascript", src="/js/backbone.js")
		script(type="text/javascript", src="/socket.io/socket.io.js")
		script(type="text/javascript", src="/models/models.js")
		script(type="text/javascript", src="/views/views.js")
		script(type="text/javascript", src="/js/main.js")
	body
		div.app-container

		script(type="text/template", id="appView-template")
			div.masthead-container.masthead
			div.view-container.container

		script(type="text/template", id="signupHeaderView-template")
			div.header
				div.container
					h1#logo We Browse In Public
					div.stat.client-count-container
					div.stat.link-count-container
			div.steps
				div.container
					ul.steps.clearfix
						li
							a(id="signup", href="#") <strong>Download</strong> for chrome
						li
							h2 Stream
							p your live browsing anonymously
						li
							h2 Be champ
							p of the internet or mayor of a site

		script(type="text/template", id="homeView-template")
			div.row
				div.mainLCol
					div.section-header	
						h1 Top Right Now
					div.top-links-container
				div.mainRCol
					div.section-header
						h1 Live feed
					div.stream-container

		script(type="text/template", id="topDomainsView-template")
			div.header
				h1 
					span Top Domains
			ul.top-domains-container

		script(type="text/template", id="topDomainItemView-template")
			a
				span <%- visitsPerDomain %> - 
				span <%- domainName %>

		script(type="text/template", id="headedContentView-template")
			div.header
				h1 <%- title %>
			div.content

		script(type="text/template", id="visitView-template")
			<span class="score"><%= model.get('visitsPerLink') %></span>

			<div class="visit-content">

			<a class="link" href="<%= model.get('link') %>">
			<%- model.get('title') %>
			</a>

			<div class="visit-stats">

			<ul class="actions">
			<li><%- model.get('stats').wow %> <a href="#" class="wow">WOW</a></li>
			<li><%- model.get('stats').lol %> <a href="#" class="lol">LOL</a></li>
			<li><%- model.get('stats').wtf %> <a href="#" class="wtf">WTF</a></li>
			</ul>

			<% if (model.get('user_id')) { %>
			<a href="/user/<%= model.get('user_id') %>"><i class="icon-user"></i> <span>User <%= model.get('user_id') %></span></a>
			<% } %>
			<a href="#" class="domain-link"><i class="icon-globe"></i> <%= model.get('domain').domain %></a><%= urlExt %>
			</div>

			</div>
