body, html {
	font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
}

.masthead {
	height: 345px;
	color: white;
	text-align: center;
	background: url('../img/bg_texture.png');	
	position: relative;
	box-shadow: inset 0 -8px 25px rgba(0,0,0,.18);
}

	.masthead > div.conatiner {
		position: relative;
	}

	/* Overall */
	#logo {
		width: 460px;
		height: 42px;
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		display: inline-block;
		background: url('../img/logo_460.png') no-repeat;
		margin-top: 63px;
		margin-bottom: 10px;
	}

	/* Splash page specific */
	.masthead-description {
		font-style: italic;
		opacity: .82;
	}

	.masthead-description h2 {
		font-size: 23px;
		color: white;
		margin: 30px 0 2px 0;
		font-weight: normal;
	}

	.masthead-description p {
		color: #626e91;
		font-size: 19px;
	}

	.signup-login .signup-login-header {
		background: #538792;	
		border-radius: 5px 5px 0 0;
		box-shadow: inset 0 -8px 25px rgba(0,0,0,.12), inset 0 1px 0 rgba(255,255,255,.3);
		position: absolute;
		width: 230px;
		bottom: 54px;
		left: 50%;
		margin-left: -135px;
		padding: 5px 20px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13px;
		color: #c9dbe0;
	}

	.signup-login form {
		position: absolute;
		bottom: 0;
		width: 604px;
		margin: 0;
		padding: 8px;
		background: #6a9ca6;	
		border-radius: 5px 5px 0 0;
		box-shadow: inset 0 -8px 25px rgba(0,0,0,.12), inset 0 1px 0 rgba(255,255,255,.3);
	}

	.signup-login form input {
		color: white;
		font-size: 17px;
		-webkit-font-smoothing: antialiased;
		font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial;
		background: #55828b;
		border-radius: 4px;
		border: 1px solid #375a5f;
		border-bottom-color: #3e656a;
		box-shadow: inset 0 2px 3px rgba(0,0,0,.05);
		box-sizing: border-box;
		height: 40px;
		width: 250px;
		padding: 14px 13px 13px;
		margin-right: 5px;
	}

	.signup-login form input:focus {
		outline: 0;
		border-color: #235158;
		box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	}

	.signup-login form input::-webkit-input-placeholder {
		color: #9cc2c9;
	}

	.signup-login form button {
		color: #474b5a;
		cursor: pointer;
		font-size: 17px;
		font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial;
		font-weight: bold;
		padding: 10px 15px 8px;
		text-transform: uppercase;
		border-radius: 4px;
		border: 1px solid #537a82;
		border-bottom-color: #497178;
		box-shadow: 0 2px 3px rgba(0,0,0,.13);
		background: #f0f1f3; /* Old browsers */
		background: -moz-linear-gradient(top,  #f0f1f3 0%, #cecfd1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f1f3), color-stop(100%,#cecfd1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f0f1f3 0%,#cecfd1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f0f1f3 0%,#cecfd1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f0f1f3 0%,#cecfd1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f0f1f3 0%,#cecfd1 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f1f3', endColorstr='#cecfd1',GradientType=0 ); /* IE6-9 */
	}		

	.signup-login form button:hover {
		background: #f0f1f3; /* Old browsers */
		box-shadow: 0 2px 3px 1px rgba(0,0,0,.18);
	}

	.signup-login form button:active {
		box-shadow: inset 0 2px 3px rgba(0,0,0,.18), 0 2px 3px 1px rgba(0,0,0,.08);
	}
	
.sub-head {
	background: #f7f8f9;
	border-bottom: 1px solid #d6d6d6;
	padding: 20px 0;
}

	.sub-head .stats {
		font-size: 18px;
		color: #474b5a;
	}

	.sub-head .stats strong {
		font-weight: bold;
		color: #3a5097;
	}

.container-narrow {
	width: 620px !important;
}
